.forgot-option-title{
    padding-right: 10px;
    max-height: 25px;
}

.right-5 label input{
    margin-right: 5px;
}

.jiem-error{
    margin-top: 10px;
}

#frmForgot, #frmResetPassword{
    margin-top: 20px;
}

.forgot-option label{
    font-weight: normal;
    margin-right: 5px;
}

.btn-cancel{
    margin-right: 5px;
}

input.errorRadio:focus{
    outline-style: dashed;
    outline-width: 2px;
    outline-color: red;
}

input.valid:focus{
    outline: none;
}
.alert {
    margin-bottom: 0;
} 
