@CHARSET "ISO-8859-1";
/**
*   StudyGearList
**/
.width-100 {
	width: 100px;
}

.width-140 {
	width: 140px;
}

.width-250 {
	width: 250px;
}

.spi-select-class {
	margin-left: -30px;
}

.no-margin-top-and-bottom {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.spi-btn-view {
	width: 60px;
	height: 25px;
	font-size: 12px;
}

.text-center {
	text-align: center!important;
}

.text-right {
	text-align: right!important;
}
.text-left {
	text-align: left!important;
}
.frm-std-list-search td:nth-child(4){
    text-align: right;
}
