<?php
include __DIR__ . '/../../../satelliteInit_autoloader.php';
define('APP_DIR', realpath( __DIR__ . '/../../../'));
defined('BASE_PATH') or define('BASE_PATH', realpath(dirname(__DIR__)));
defined('PUBLIC_PATH') or define('PUBLIC_PATH', BASE_PATH.'/satellite');
defined('DATA_PATH') or define('DATA_PATH', BASE_PATH.'/data');
