@CHARSET "ISO-8859-1";

.paymentRefundStatus .txtYear{
    width: 165px;
}
.paymentRefundStatus .txtYear select{
    width: 100px;
}
.paymentRefundStatus .lblKai{
    width: 60px;
}
.paymentRefundStatus .txtKai select{
    width: 60px;
}
.paymentRefundStatus .txtKai{
    width: 170px;
}
.paymentRefundStatus .txtOrgNo{
    width: 165px;
}
.paymentRefundStatus .txtOrgNo input{
    width: 140px;
}
.paymentRefundStatus .lblOrgName{
    width: 60px;
}
.paymentRefundStatus .txtOrgName{
    width: 140px;
}
.paymentRefundStatus .lblRefundStatus{
    width: 80px;
}
.paymentRefundStatus .txtRefundStatus{
    width: 225px;
}
