.jiem-error, #forgotpass {
    margin: 20px 80px;
    font-size: 22px;
    line-height: 1.5;
}
#forgotpass .red {
    padding-left: 10px;
    color: red;
}
#forgotpass select, #forgotpass input {
    float: left;
    margin-right: 10px;
}
.mw70 {
    width: 140px;
}
.mw140 {
    width: 280px;
}
.mt20 {
    margin-top: 20px;
}
#btnCancel {
    margin-right: 5px;
}
.box-header {
    display: none;
}
.col-md-12 {
    padding: 20px;
}
.jiem-error, .jiem-error a {
    color: red;
}
.jiem-error .alert {
    margin-bottom: 0;
}
select,input{
    margin-top:20px;
}
.col-md-8 span{
    margin-top: 35px;
}
.boxYear{
    width: 330px;
}
.boxDate {
    width: 210px;
}