#forgotpass .red {
    padding-left: 10px;
    color: red;
}
#forgotpass select, #forgotpass input {
    float: left;
    margin-right: 10px;
}
.mw70 {
    width: 70px;
    margin-left: 10px;
}
.mw140 {
    width: 140px;
}
.mt20 {
    margin-top: 20px;
}
#btnCancel {
    margin-right: 5px;
}
.col-md-12{
    line-height: 1.5;
}
.boxYear{
    width: 165px;
}
.boxDate {
    width: 105px;
}